section.home-banner
		.banner-text.mb-10(data-aos="fade-up")
			h1.text-center.title-68 A global 
				span.italic creative 
				| studio 
				br 
				| based in 
				span.italic Saigon, Vietnam
		.banner-img(data-aos="fade-up" data-aos-delay="500")
			.img-ratio(class="ratio:pt-[704_1440]")
				+PugImg("./img/banner_1.png")

section.home-intro.section-py 
	.container.max-w-full
		.intro-text.text-center.mx-auto(data-aos="fade-up")
			h2.heading-2.title-48 Trusted as a leading 
				span.italic creative partner 
				br
				| to 
				span.italic make 
				| multi-dimensional work for 
				br
				| globally-desired, progressively-minded brands.

section.home-showcase
	.showcase-img(data-aos="zoom-out" data-aos-duration="1000")
		.img-ratio(class="ratio:pt-[704_1440]")
			+PugImg("./img/banner_1.png")

section.home-services.section-py
	.container-text
		.grid(class="grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-10 xl:gap-15 items-center")
			.col-left(data-aos="fade-right")
				ul.service-list
					li ART DIRECTING
					li FILM MAKING
					li PHOTOGRAPHY
					li EDITING
			.col-right.h-full(data-aos="fade-left" data-aos-delay="500")
				.content-box
					.desc
						p We're a artistic duo based in Saigon one directs, the other makes sure it doesn't look ugly.
						p Somewhere between an art director and a photographer, we argue about light, eat too much street food, and somehow still make films together.
						p Let's make something cool together.<br> Or just say hi: <br> hello@changwangpictures.com
					+btnArrowLine("CONTACT")


section.home-detail
	.detail-img(data-aos="zoom-out" data-aos-duration="1000")
		.img-ratio(class="ratio:pt-[704_1440]")
			+PugImg("./img/banner_1.png")

section.home-connect.section-py
	.container.max-w-full
		h2.heading_1(data-aos="fade-up") CONNECT WITH US.
		.grid(class="wrapper-connect")
			.col-left(data-aos="fade-right")
				.connect-img.h-full
					.img-ratio.h-full(class="ratio:pt-[320_652]")
						+PugImg("./img/banner_1.png")
			.col-right.flex.flex-col.justify-center.items-center(data-aos="fade-left" data-aos-delay="500")
				p.title-26.mb-8.text-center Sign up to our 
					span.italic newsletter 
					| and stay up to date with our 
					br 
					| cultural 
					span.italic news, views & insights
				
				form.newsletter-form
					.wrapper-form 
						.form-group
							input(type="text" placeholder="FIRST NAME")
						.form-group
							input(type="text" placeholder="LAST NAME")
						.form-group
							input(type="email" placeholder="YOUR EMAIL ADDRESS HERE...")
						
					+btnArrow("SUBSCRIBE")

section.home-footer-banner
	.footer-banner-img(data-aos="fade-up")
		.img-ratio(class="ratio:pt-[475_1440]")
			+PugImg("./img/banner_1.png")
