+SpaceToTop('space-header')

section.blog-detail-page.section-py
	.container
		//- Header Section
		.blog-header
			.category MAGAZINES
			h1.title A global creative studio based in Saigon, Vietnam
			.meta
				span.date 08 Feb 2026
				span.separator |
				span.author By Admin

		//- Hero Image
		.blog-hero
			.img-ratio(class="ratio:pt-[500_1000]")
				+PugImg("./img/banner_1.png")

		//- Content Section
		.blog-content
			p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			
			p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
			h2 The Intersection of Art and Design
			p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			
			blockquote
				p "Creativity is widely known as the ability to create something new, whether it is a physical object, an idea or a new way of doing things."
			
			p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.

			.content-image
				.img-ratio(class="ratio:pt-[600_800]")
					+PugImg("./img/banner_1.png")
				p.caption Figure 1: The creative process in action.

			h3 Embracing the Digital Age
			p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.

			ul
				li Innovative thinking and problem-solving
				li Collaborative approach to design challenges
				li Emphasis on user-centric experiences
				li Sustainable and ethical design practices

			p Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.

		//- Share & Tags
		.blog-footer
			.tags
				span Tags:
				a(href="#") Design
				a(href="#") Art
				a(href="#") Lifestyle
			
			.share
				span Share:
				.social-links
					a(href="#")
						i.fa-brands.fa-facebook-f
					a(href="#")
						i.fa-brands.fa-twitter
					a(href="#")
						i.fa-brands.fa-linkedin-in

		//- Post Navigation
		.blog-navigation
			a.nav-link.prev(href="#")
				i.fa-regular.fa-arrow-left-long
				.nav-content
					span.label PREVIOUS POST
					span.title The Future of Digital Art
			
			a.nav-link.next(href="#")
				.nav-content
					span.label NEXT POST
					span.title Sustainable Design Practices
				i.fa-regular.fa-arrow-right-long

section.related-posts.section-pb
	.container.max-w-full(data-aos="fade-up")
		h2.section-title YOU MIGHT ALSO LIKE
		.swiper-related-posts
			.swiper
				.swiper-wrapper
					- 
						var relatedList = [
							{ category: 'MAGAZINES', title: 'A global creative studio based in Saigon, Vietnam', desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', img: './img/banner_1.png' },
							{ category: 'BLOGS', title: 'Innovative Design Trends for 2026', desc: 'Exploring the future of visual communication and minimalist aesthetics.', img: './img/banner_1.png' },
							{ category: 'MAGAZINES', title: 'The Art of Cinematography', desc: 'Step behind the lens to discover how lighting and composition tell stories.', img: './img/banner_1.png' },
							{ category: 'BLOGS', title: 'Studio Life: Behind the Scenes', desc: 'Discover our daily rituals and tools that keep the creative gears turning.', img: './img/banner_1.png' },
							{ category: 'MAGAZINES', title: 'Creative Collaboration in the Digital Age', desc: 'How remote teams are reshaping the landscape of global design.', img: './img/banner_1.png' }
						]
					each item in relatedList
						.swiper-slide
							.blog-card
								.img-ratio(class="ratio:pt-[272_315]")
									+PugImg(item.img)
								.content
									.category= item.category
									h3.title
										a(href="./BlogDetail.html")= item.title
									.desc
										p= item.desc
									+btnArrow("View More", "./BlogDetail.html")
			.swiper-pagination
