-
	var workPromo = [
		{
			category: "BRAND",
			items: [
				{
					title: "Paintings - A Visual Exploration",
					desc: "'This Is My Taste' featuring Jamie Dorman as the 'Diet Coke guy', but not as you'd expect to see him; in an above the line campaign that celebrates identity and self-expression through the eccentricity of individual taste.",
					subTitle: "Travel Stories // Tuyen Lam Lakes",
					ratio: "ratio:pt-[428_652]", // Landscape approx
					gallery: [
						{ src: "./img/banner_1.png" },
						{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
					]
				}
			]
		},
		{
			category: "PERSONAL",
			items: [
				{
					title: "Paintings - A Visual Exploration",
					desc: "'This Is My Taste' featuring Jamie Dorman as the 'Diet Coke guy', but not as you'd expect to see him; in an above the line campaign that celebrates identity and self-expression through the eccentricity of individual taste.",
					subTitle: "Travel Stories // Tuyen Lam Lakes",
					ratio: "ratio:pt-[428_652]", // Landscape approx
					gallery: [
						{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
						{ src: "./img/banner_1.png" },
					]
				}
			]
		}
	]

	var workList = [
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ src: "./img/banner_1.png" },
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
			]
		},
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
				{ src: "./img/banner_1.png" },
			]
		},
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ src: "./img/banner_1.png" },
				{ src: "./img/banner_1.png" },
			]
		},
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
			]
		},
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ src: "./img/banner_1.png" },
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
			]
		},
		{
			title: "Federico Cina",
			desc: "Creative direction and content production for his SS25 Fashion Show at Milan Fashion Week.",
			subTitle: "Travel Stories // Tuyen Lam Lakes",
			ratio: "ratio:pt-[606_428]", // Portrait
			gallery: [
				{ src: "./img/banner_1.png" },
				{ type: 'video', src: "./img/video-demo-card-mini.mp4" },
			]
		}
	]
.space-to-top
section.work-page.section-py
	.work-intro.container.max-w-full
		h1.title-42.font-normal(data-aos="fade-up") Changwang creates multi-dimensional works;
				br
				| From campaigns and full service production,
				br
				| to experiential and social-first content
				br
				| — shaped by insight, ideas & artistry.

		.work-promo
			each col, index in workPromo
				.item(data-aos="fade-up" data-aos-delay=(index * 150))
					a.title-40.category-title(href="#")!= col.category
					each item in col.items
						+WorkCard(item)

		.work-list
			each item, index in workList
				.work-item(data-aos="fade-up" data-aos-delay=(index % 3 * 100))
					+WorkCard(item)

		//- Pagination
		//- +Pagination([
		//- 	{ text: '1', href: '#', active: true },
		//- 	{ text: '2', href: '#' },
		//- 	{ text: '3', href: '#' },
		//- 	{ text: '...', href: '#' },
		//- 	{ text: '10', href: '#' },
		//- ])
