
- 
	var artList = [
	{
		src: 'https://picsum.photos/800/1200?random=1',
		width: 800,
		height: 1200,
		title: 'Surreal Portrait',
		desc: 'Experimental portrait composition with vertical emphasis.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1200/800?random=2',
		width: 1200,
		height: 800,
		title: 'Urban Landscape',
		desc: 'Wide cinematic capture of architectural rhythm.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/800/800?random=3',
		width: 800,
		height: 800,
		title: 'Minimal Square',
		desc: 'Balanced geometry and symmetry in frame.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/900/1400?random=4',
		width: 900,
		height: 1400,
		title: 'Art Collage',
		desc: 'Vertical art composition with dramatic contrast.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1600/900?random=5',
		width: 1600,
		height: 900,
		title: 'Cinematic View',
		desc: 'Wide storytelling scene in natural lighting.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/600/1000?random=6',
		width: 600,
		height: 1000,
		title: 'Abstract Vertical',
		desc: 'Soft shadows and layered texture composition.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1000/1000?random=7',
		width: 1000,
		height: 1000,
		title: 'Square Modern',
		desc: 'Contemporary balance between form and void.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1400/900?random=8',
		width: 1400,
		height: 900,
		title: 'Street Scene',
		desc: 'Urban storytelling captured in landscape ratio.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/800/1200?random=9',
		width: 800,
		height: 1200,
		title: 'Gallery Piece',
		desc: 'Classic vertical artwork with strong framing.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1000/600?random=10',
		width: 1000,
		height: 600,
		title: 'Wide Frame',
		desc: 'Horizontal composition with strong leading lines.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/800/800?random=11',
		width: 800,
		height: 800,
		title: 'Balanced Form',
		desc: 'Square grid-friendly layout piece.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1000/1600?random=12',
		width: 1000,
		height: 1600,
		title: 'Tall Editorial',
		desc: 'Magazine-style vertical storytelling.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/1200/800?random=13',
		width: 1200,
		height: 800,
		title: 'Nature Spread',
		desc: 'Landscape-focused natural composition.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/600/600?random=14',
		width: 600,
		height: 600,
		title: 'Compact Square',
		desc: 'Small yet impactful balanced layout.',
		link: 'DISCOVER MORE'
	},
	{
		src: 'https://picsum.photos/900/1400?random=15',
		width: 900,
		height: 1400,
		title: 'Vertical Focus',
		desc: 'High ratio vertical layout for masonry depth.',
		link: 'DISCOVER MORE'
	}
	];



+SpaceToTop('space-header')
section.art-page
	.container-fluid
		.art-intro
			h1.title-42.font-normal(data-aos="fade-up") Conversations around 
				span.italic art, design & beauty 
				| with artists pivotal to the creative innovation of the industry
		
		.art-list
			each item, index in artList
				a.art-item(href="./ArtDetail.html" class=`art-item-${index + 1}` data-aos="fade-up" data-aos-delay=(index % 3 * 100))
					.art-img 
						+PugImg(item.src)
					.art-overlay
						.content
							h3.title.italic!= item.title
							p.desc!= item.desc
							span.btn-linkFiles!= item.link
