+SpaceToTop('space-header')

section.contact-page.section-py
	.container.max-w-full
		.contact-wrapper
			.col-left
				h1.heading SAY HELLO.
				p.desc Each message you send is the beginning of a new artistic journey.

			.col-right
				.info-grid
					.info-item
						h3.label Phone Number
						a.value(href="tel:+84389579327") +84 389 579 327
					
					.info-item
						h3.label Email
						a.value(href="mailto:contact.changwang@gmail.com") contact.changwang@gmail.com
						a.value(href="mailto:changwangpictures@gmail.com") changwangpictures@gmail.com

					.info-item
						h3.label Billing
						p.value CHANGWANG PICTURES.LTD
						p.value Floor 7, Centre Point Tower, 106 Nguyen Van Troi street, Phu Nhuan ward 72200, Ho Chi Minh city, Vietnam
					
					.info-item
						h3.label Social Archives
						.social-links
							a(href="#")
								i.fa-brands.fa-instagram
							a(href="#")
								i.fa-brands.fa-facebook-f

				.contact-image
					.img-ratio(class="ratio:pt-[320_660]")
						+PugImg("./img/banner_1.png")
