footer.footer
	.container-fluid
		.footer-grid
			.footer-left
				.footer-group
					.label / MAIL TO
					a(href="mailto:contact.dlhglobal@gmail.com") contact.dlhglobal@gmail.com
					a(href="mailto:dlhglobal@gmail.com") dlhglobal@gmail.com
				
				.footer-group
					.label / LOCATION
					p FLOOR 7, TRANSCO BUILDING, NO. 05 LOT 2B,
					p LE HONG PHONG STREET, NGO QUYEN WARD,
					p HAI PHONG CITY, VIETNAM
				
				.footer-group
					.label / TEL 
					a(href="tel:84389579327") +84 389 579 327

				.footer-group
					.label / SOCIALS
					ul.social-list
						li
							a(href="#" target="_blank") INSTAGRAM
						li
							a(href="#" target="_blank") FACEBOOK
						li
							a(href="#" target="_blank") THREADS
						li
							a(href="#" target="_blank") TIKTOK

			.footer-right
				.form-heading / WAIT YOU HAVE SOMETHING COOL TO SAY?
				form.footer-form(action="") 
					.form-row
						.form-group
							input(type="text" placeholder="NAME")
						.form-group
							input(type="email" placeholder="EMAIL")
					.form-row
						.form-group
							input(type="tel" placeholder="PHONE NUMBER")
						.form-group
							input(type="text" placeholder="LOCATION")
					.form-group.full
						input(type="text" placeholder="WHATCHU WANNA SAY?")
					
					button.btn-submit(type="submit") TELL US!
		.btn.button-to-top
			.btn-icon
				.icon