footer.footer
	.container-fluid
		.footer-grid
			.footer-left
				.footer-group
					.label / MAIL TO
					.group-mails
						a(href="mailto:contact.changwang.com") contact.changwang.com
						a(href="mailto:changwangpictures@gmail.com") changwangpictures@gmail.com
				
				.footer-group
					.label / LOCATION
					a(href="mailto:contact.changwang.com") Floor 7, Centre Point Tower, 106 Nguyen Van Troi street, Phu Nhuan ward
						<br>72200, Ho Chi Minh city, Vietnam
				
				.footer-group
					.label / TEL 
					a(href="tel:84389579327") +84 389 579 327

				.footer-group
					.label / SOCIALS
					ul.social-list
						li
							a(href="#" target="_blank") INSTAGRAM
						li
							a(href="#" target="_blank") FACEBOOK
						li
							a(href="#" target="_blank") THREADS
						li
							a(href="#" target="_blank") TIKTOK

			.footer-right
				.form-heading / WAIT YOU HAVE SOMETHING COOL TO SAY?
				form.footer-form(action="") 
					.form-row
						.form-group
							input(type="text" placeholder="NAME")
						.form-group
							input(type="email" placeholder="EMAIL")
					.form-row
						.form-group
							input(type="tel" placeholder="PHONE NUMBER")
						.form-group
							input(type="text" placeholder="LOCATION")
					.form-group.full
						textarea(placeholder="WHATCHU WANNA SAY?")
					
					button.btn-submit(type="submit") TELL US!
		.btn.button-to-top
			.btn-icon
				.icon